Repository opencloud-eu/docs, pull requests merged in 2025-05, with the labels that each got.

#268 add german installation instruction
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/installation/icon-on-screen.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/installation/ios-installation.jpg
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/installation.md
Labels: Docs:User

#269 Ios app german translation settings
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/installation.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/overview.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/set-up.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/settings.md
Labels: Docs:User

#270 add set up your account in the iOS App
  docs/user/ios-app/img/set-up/account-set-up.png
  docs/user/ios-app/img/set-up/add-additional-account.png
  docs/user/ios-app/img/set-up/continue-sign-in.png
  docs/user/ios-app/img/set-up/custom-name.png
  docs/user/ios-app/img/set-up/enter-credentials.png
  docs/user/ios-app/img/set-up/enter-server-url.png
  docs/user/ios-app/img/set-up/grant-access.png
  docs/user/ios-app/img/set-up/open-login-page.png
  docs/user/ios-app/img/set-up/start-setup.png
  docs/user/ios-app/set-up.md
Labels: Docs:User

#275 remove draft for german settings
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/settings/einstellungen.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/settings.md
Labels: Docs:User

#273 added configvars in admin a-c
  docs/admin/configuration/activitylog.mdx
  docs/admin/configuration/app-provider.mdx
  docs/admin/configuration/app-registry.mdx
  docs/admin/configuration/audit.mdx
  docs/admin/configuration/auth-app.mdx
  docs/admin/configuration/auth-basic.mdx
  docs/admin/configuration/auth-bearer.mdx
  docs/admin/configuration/auth-machine.mdx
  docs/admin/configuration/auth-service.mdx
  docs/admin/configuration/clientlog.mdx
  docs/admin/configuration/collaboration.mdx
Labels: Docs:Admin

#280 Add ios download available offline
  docs/user/ios-app/files-and-folders/create-rename-move.md
  docs/user/ios-app/files-and-folders/upload-make-available-offline.md
  docs/user/ios-app/img/files-and-folders/upoload-make-available-offline/make-available-offline.png
  docs/user/ios-app/img/files-and-folders/upoload-make-available-offline/marked-offline.png
  docs/user/ios-app/img/files-and-folders/upoload-make-available-offline/three-dots.png
  docs/user/ios-app/img/files-and-folders/upoload-make-available-offline/upload-options.png
  docs/user/ios-app/img/files-and-folders/upoload-make-available-offline/upload-plus-button.png
Labels: Docs:User

#284 add future releasedates and semver
  docs/admin/resources/img/lifecycle/semver.png
  docs/admin/resources/lifecycle.md
Labels: Docs:Admin

#287 added configvars in admin d-o
  docs/admin/configuration/eventhistory.mdx
  docs/admin/configuration/frontend.mdx
  docs/admin/configuration/gateway.mdx
  docs/admin/configuration/global.mdx
  docs/admin/configuration/graph.mdx
  docs/admin/configuration/groups.mdx
  docs/admin/configuration/idm.mdx
  docs/admin/configuration/idp.mdx
  docs/admin/configuration/invitations.mdx
  docs/admin/configuration/nats.mdx
  docs/admin/configuration/notifications.mdx
  docs/admin/configuration/ocdav.mdx
  docs/admin/configuration/ocm.mdx
  docs/admin/configuration/ocs.mdx
Labels: Docs:Admin

#289 Ios app german translation shares
  docs/user/ios-app/shares/invite.md
  docs/user/ios-app/shares/links.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.34.34.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.34.43.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.35.59.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.36.03.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.36.07.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.36.15.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.36.20.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.36.26.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.36.30.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.36.54.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/overview/Simulator Screenshot - iPhone 16 Pro - 2025-05-05 at 13.36.59.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/choose-invites.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/invite-button.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/invite-menue.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/invite-option.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/permissions.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/searchbar.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/shared-with.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/sharing-button.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/invite/three-dot-menue.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/create-link-button.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/create-link-options.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/created-link.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/expiration-date.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/link-name.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/password.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/share-button.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/sharing-button.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/sharing-options.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/shares/links/three-dot-menue.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/overview.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shares/invite.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shares/links.md
  package-lock.json
Labels: Docs:User

#290 Ios app german translation search
  docs/user/ios-app/search.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/date.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/save-search.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/search-location.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/search-menue.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/search-result.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/search-symbol.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/searchbar.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/size.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/search/type.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/search.md
Labels: Docs:User

#291 adjust the structure of the iOS App for GER and ENG
  assets/env-vars/frontend_configvars.md
  assets/env-vars/notifications_configvars.md
  assets/env-vars/ocdav_configvars.md
  docs/user/ios-app/general/_category_.json
  docs/user/ios-app/general/installation.md
  docs/user/ios-app/general/overview.md
  docs/user/ios-app/general/set-up.md
  docs/user/ios-app/general/settings.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/general/installation.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/general/overview.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/general/set-up.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/general/settings.md
Labels: Docs:User

#293 german translation installation
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/installation.md
Labels: Docs:User

#279 Add some words about the Radicale integration
  docs/admin/configuration/radicale-integration.md
Labels: Docs:Admin

#295 fix admin password issue
  docs/admin/resources/common-issues.md
Labels: Docs:Guides

#294 Add docs admin configvars p-z
  assets/env-vars/notifications_configvars.md
  assets/env-vars/storage-users_configvars.md
  assets/env-vars/webdav_configvars.md
  docs/admin/configuration/policies.mdx
  docs/admin/configuration/postprocessing.mdx
  docs/admin/configuration/proxy.mdx
  docs/admin/configuration/search.mdx
  docs/admin/configuration/settings.mdx
  docs/admin/configuration/sharing.mdx
  docs/admin/configuration/sse.mdx
  docs/admin/configuration/storage-publiclink.mdx
  docs/admin/configuration/storage-shares.mdx
  docs/admin/configuration/storage-system.mdx
  docs/admin/configuration/storage-users.mdx
  docs/admin/configuration/thumbnails.mdx
  docs/admin/configuration/userlog.mdx
  docs/admin/configuration/users.mdx
  docs/admin/configuration/web.mdx
  docs/admin/configuration/webdav.mdx
  docs/admin/configuration/webfinger.mdx
Labels: Docs:Admin

#296 adjust intro.md about Desktop and iOS App
  docs/user/intro.md
  docs/user/ios-app/general/_category_.json
Labels: Docs:User

#301 Translate shares from german to english
  docs/user/ios-app/img/shares/invite/choose-invites.png
  docs/user/ios-app/img/shares/invite/invite-button.png
  docs/user/ios-app/img/shares/invite/invite-menue.png
  docs/user/ios-app/img/shares/invite/invite-option.png
  docs/user/ios-app/img/shares/invite/permissions.png
  docs/user/ios-app/img/shares/invite/searchbar.png
  docs/user/ios-app/img/shares/invite/shared-with.png
  docs/user/ios-app/img/shares/invite/sharing-button.png
  docs/user/ios-app/img/shares/invite/three-dot-menue.png
  docs/user/ios-app/img/shares/links/create-link-button.png
  docs/user/ios-app/img/shares/links/create-link-options.png
  docs/user/ios-app/img/shares/links/created-link.png
  docs/user/ios-app/img/shares/links/expiration-date.png
  docs/user/ios-app/img/shares/links/link-name.png
  docs/user/ios-app/img/shares/links/password.png
  docs/user/ios-app/img/shares/links/share-button.png
  docs/user/ios-app/img/shares/links/sharing-button.png
  docs/user/ios-app/img/shares/links/sharing-options.png
  docs/user/ios-app/img/shares/links/three-dot-menue.png
  docs/user/ios-app/shares/invite.md
  docs/user/ios-app/shares/links.md
Labels: Docs:User

#304 Add ios overview
  docs/user/ios-app/overview/account-fileslist.md
  docs/user/ios-app/overview/account-overview.md
  src/css/custom.css
Labels: Docs:User

#306 translate search and shortcuts to english
  docs/user/ios-app/img/search/date.png
  docs/user/ios-app/img/search/save-search.png
  docs/user/ios-app/img/search/search-location.png
  docs/user/ios-app/img/search/search-menue.png
  docs/user/ios-app/img/search/search-result.png
  docs/user/ios-app/img/search/search-symbol.png
  docs/user/ios-app/img/search/searchbar.png
  docs/user/ios-app/img/search/size.png
  docs/user/ios-app/img/search/type.png
  docs/user/ios-app/img/shortcuts/choose-file-or-folder.png
  docs/user/ios-app/img/shortcuts/create-shortcut-button.png
  docs/user/ios-app/img/shortcuts/create-shortcut.png
  docs/user/ios-app/img/shortcuts/created-shortcut.png
  docs/user/ios-app/img/shortcuts/pick-file-or-folder.png
  docs/user/ios-app/img/shortcuts/plus-button.png
  docs/user/ios-app/img/shortcuts/plus-menue.png
  docs/user/ios-app/img/shortcuts/select-button.png
  docs/user/ios-app/img/shortcuts/shortcut-menue.png
  docs/user/ios-app/img/shortcuts/shortcut-name.png
  docs/user/ios-app/img/shortcuts/url.png
  docs/user/ios-app/search.md
  docs/user/ios-app/shortcuts.md
Labels: Docs:User

#307 Add app tokens
  docs/user/admin/app-tokens.md
  docs/user/admin/img/app-tokens/copy-token.png
  docs/user/admin/img/app-tokens/create.png
  docs/user/admin/img/app-tokens/enter-name.png
  docs/user/admin/img/app-tokens/select-date.png
  docs/user/general/account-settings.md
  docs/user/general/img/account-settings/app-tokens.png
Labels: Docs:User

#308 fix typo
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shares/invite.md
Labels: Docs:User

#310 publish 2.3.0 release in the docs
  docs/admin/resources/lifecycle.md
Labels: Docs:Admin

#309 Add webdav
  docs/user/admin/app-tokens.md
  docs/user/admin/img/webdav/preferences.png
  docs/user/admin/img/webdav/webdav-url.png
  docs/user/admin/web-dav.md
  docs/user/general/account-settings.md
Labels: Docs:User

#312 undraft the iOS articles
  docs/user/ios-app/search.md
  docs/user/ios-app/shares/invite.md
  docs/user/ios-app/shares/links.md
  docs/user/ios-app/shortcuts.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/search.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shares/invite.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shares/links.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shortcuts.md
Labels: Docs:User

#314 translation tutorial sidebar iOS app
  docs/user/ios-app/general/overview/_category_.json
  docs/user/ios-app/shares/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current.json
  i18n/en/docusaurus-plugin-content-docs/current.json
Labels: Docs:User

#315 fix typos
  docs/user/ios-app/shares/links.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shares/links.md
Labels: Docs:User

#327 adjust the admin pw change part
  docs/admin/resources/common-issues.md
Labels: Docs:Admin
