Repository opencloud-eu/docs, pull requests merged in 2025-03, with the labels that each got.

#127 Fix bare metal link
  docs/admin/20-getting-started/40_manual.md
Labels: Type:Bug

#126 Update desktop
  docs/user/desktop-client/installation.md
  docs/user/intro.md
Labels: Docs:User

#134 Adjust English for files and folders & small fixes
  docs/user/files-and-folders/activity.md
  docs/user/files-and-folders/create-rename-move.md
  docs/user/files-and-folders/delete-restore.md
  docs/user/files-and-folders/search.md
  docs/user/files-and-folders/shortcut.md
  docs/user/files-and-folders/tags.md
  docs/user/files-and-folders/upload-download-unzip.md
  docs/user/files-and-folders/versions.md
Labels: Docs:User

#133 Add part about collabora certificate
  docs/admin/20-getting-started/20-docker-compose.md
  docs/admin/20-getting-started/img/quick-guide/collabora-accept-self-signed-cert.png
Labels: Docs:Admin

#132 Add pictures and the text for installation on Raspberry Pi
  docs/admin/20-getting-started/50-raspberry-pi.md
  docs/admin/20-getting-started/img/raspberrypi/change-env-for-storage.png
  docs/admin/20-getting-started/img/raspberrypi/docker-compose-check.png
  docs/admin/20-getting-started/img/raspberrypi/docker-user-check.png
  docs/admin/20-getting-started/img/raspberrypi/error-mounting.png
  docs/admin/20-getting-started/img/raspberrypi/find-external-hd.png
  docs/admin/20-getting-started/img/raspberrypi/format-drive.png
  docs/admin/20-getting-started/img/raspberrypi/ip-router.png
  docs/admin/20-getting-started/img/raspberrypi/noip.png
  docs/admin/20-getting-started/img/raspberrypi/oc-domain.png
  docs/admin/20-getting-started/img/raspberrypi/portforwarding.png
  docs/admin/20-getting-started/img/raspberrypi/reachable-via-URL.png
  docs/admin/20-getting-started/img/raspberrypi/ssh-activate.png
Labels: Docs:Admin

#140 Add syntax hilighting for bash
  docusaurus.config.ts
Labels: Docs:Build&Tools

#139 make generate build as a single command
  docs/admin/20-getting-started/40-bare-metal.md
  docs/admin/20-getting-started/img/bare-metal/make-clean-build.png
  docs/admin/20-getting-started/img/bare-metal/make-clean-generate.png
Labels: Type:Bug

#143 correct build command
  docs/admin/20-getting-started/40-bare-metal.md
Labels: Type:Bug

#142 Adjust the english for Desktop Client & Admin
  docs/user/admin/settings.md
  docs/user/desktop-client/installation.md
  docs/user/desktop-client/sync-settings.md
  docs/user/desktop-client/uninstall.md
Labels: Docs:User

#144 Enhance space roles
  docs/admin/30-configuration/10-office.md
  docs/user/roles/space-roles.md
  i18n/de/docusaurus-plugin-content-docs/current/user/roles/space-roles.md
Labels: Docs:User

#149 delete screenshot in bare metal documentation
  docs/admin/20-getting-started/40-bare-metal.md
  docs/admin/20-getting-started/img/bare-metal/apt-update-&&-upgrade.png
Labels: Docs:Admin

#148 Backup Tutorial
  docs/admin/40-maintenance/20-backup.md
Labels: Docs:Admin

#153 Fix typo on index.md
  docs/admin/10-welcome/index.md
Labels: Type:Bug

#156 Add note that bare metal is exclusively community supported
  docs/admin/20-getting-started/40-bare-metal.md
Labels: Type:Documentation, Docs:Admin

#162 Start OpenCloud in detached instead of interactive mode
  docs/admin/20-getting-started/30-docker.md
Labels: Type:Good-First-Issue, Type:Bug

#161 Add KQL to APIs
  docs/admin/10-welcome/30-datasheet.md
Labels: Type:Documentation, Docs:Admin

#167 Insert a disclaimer in Bare-Metal Tutorial
  docs/admin/20-getting-started/40-bare-metal.md
Labels: Docs:Admin

#170 Refining the text in backup tutorial
  docs/admin/40-maintenance/20-backup.md
Labels: Docs:Admin

#171 Changing disclaimer text
  docs/admin/20-getting-started/40-bare-metal.md
Labels: Docs:Admin

#175 Recover release notes
  docs/admin/50-resources/10-whats-new.md
Labels: Type:Bug

#177 Fix tiles view title
  docs/user/general/view-modes.md
Labels: Type:Bug, Docs:User

#182 Add Posixfs admin documentation
  docs/admin/10-welcome/20-features.md
  docs/admin/10-welcome/index.md
  docs/admin/20-getting-started/10-requirements.md
  docs/admin/30-configuration/100-storage-decomposeds3.md
  docs/admin/30-configuration/80-storage-posix.md
Labels: Docs:Admin

#184 PosixFS adjustments
  docs/admin/30-configuration/80-storage-posix.md
Labels: Docs:Admin

#185 Add release notes for version 1.1.0 and 2.0.0
  docs/admin/50-resources/10-whats-new.md
Labels: Docs:Admin

#189 Remove logo upload
  docs/user/admin/img/settings/admin_general.png
  docs/user/admin/settings.md
Labels: Docs:User

#191 Add version hint for NFS
  docs/admin/20-getting-started/10-requirements.md
Labels: Docs:Admin

#197 fix formatting the note
  docs/user/desktop-client/installation.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/installation.md
Labels: Docs:User

#193 Update screenshots for user admin settings
  i18n/de/docusaurus-plugin-content-docs/current/user/admin/img/settings/allgemein.png
  i18n/de/docusaurus-plugin-content-docs/current/user/admin/settings.md
Labels: Docs:User

#180 made CephFS and GPFS available
  docs/admin/10-welcome/30-datasheet.md
  docs/admin/20-getting-started/10-requirements.md
Labels: Docs:Admin
