Repository opencloud-eu/docs, pull requests merged in 2025-07, with the labels that each got.

#355 rewrite the raspberry pi tutorial to match to the new compose repo
  docs/admin/getting-started/other/raspberry-pi.md
Labels: Docs:Admin

#357 add libre graph api url to server documentation
  docs/dev/server/index.md
Labels: Docs:Developer

#367 add instructions to deinstall opencloud
  docs/admin/maintenance/uninstall.md
Labels: Docs:Admin

#371 Add snippet about data export
  docs/admin/maintenance/dataexport.md
Labels: Docs:Admin

#375 chore: add Require Pull Request Labels workflow
  .github/workflows/labels.yml
Labels: Docs:Build&Tools

#378 add to ci, fix linter problems
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .woodpecker/build.yaml
  README.md
  docs/admin/configuration/authentication-and-user-management/keycloak.md
  docs/admin/configuration/radicale-integration.md
  docs/admin/configuration/storage/decomposeds3.md
  docs/admin/configuration/storage/posixfs.md
  docs/admin/getting-started/container/docker-compose-local.md
  docs/admin/getting-started/container/docker-compose/docker-compose.md
  docs/admin/getting-started/container/docker.md
  docs/admin/getting-started/other/raspberry-pi.md
  docs/admin/maintenance/dataexport.md
  docs/admin/maintenance/migrate.md
  docs/admin/maintenance/uninstall.md
  docs/admin/maintenance/upgrade/release-notes.md
  docs/admin/maintenance/upgrade/upgrade.md
  docs/admin/resources/common-issues.md
  docs/admin/resources/demo-user.md
  docs/admin/resources/whats-new.md
  docs/dev/web/testing/running-tests.md
  docs/user/android-app/shares/invite.md
  docs/user/android-app/shares/links.md
  docs/user/android-app/shortcuts.md
  docs/user/android-app/spaces.md
  docs/user/desktop-client/installation.md
  docs/user/files-and-folders/upload-download-unzip.md
  docs/user/intro.md
  docs/user/ios-app/shares/invite.md
  docs/user/ios-app/shares/links.md
  docs/user/ios-app/shortcuts.md
  docs/user/ios-app/spaces.md
  docs/user/roles/share-roles.md
  docs/user/sharing/external.md
  docs/user/sharing/file-drop.md
  docs/user/sharing/internal.md
  docs/user/spaces/customize.md
  i18n/de/docusaurus-plugin-content-docs/current/user/android-app/shares/invite.md
  i18n/de/docusaurus-plugin-content-docs/current/user/android-app/shares/links.md
  i18n/de/docusaurus-plugin-content-docs/current/user/android-app/shortcuts.md
  i18n/de/docusaurus-plugin-content-docs/current/user/android-app/spaces.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/installation.md
  i18n/de/docusaurus-plugin-content-docs/current/user/intro.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shares/invite.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shares/links.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/shortcuts.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/spaces.md
  i18n/de/docusaurus-plugin-content-docs/current/user/roles/share-roles.md
  i18n/de/docusaurus-plugin-content-docs/current/user/sharing/internal.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/rename.md
  static/env-vars/policies_readme.md
  static/env-vars/search_readme.md
  static/env-vars/thumbnails_readme.md
Labels: Docs:Build&Tools

#365 add tutorial for OpenCloud with reverse Proxy
  docs/admin/getting-started/container/docker-compose/docker-external-proxy.md
Labels: Docs:Admin

#387 update release list
  docs/admin/resources/lifecycle.md
Labels: Docs:Admin

#388 add best practice how to format our docs md files
  README.md
Labels: Docs:Guides

#389 Rework User Admin Dokus
  docs/user/admin/settings.md
  docs/user/admin/web-dav.md
Labels: Docs:User

#394 Rework user spaces dokus
  docs/user/spaces/add-user.md
  docs/user/spaces/create.md
  docs/user/spaces/customize.md
  docs/user/spaces/delete.md
  docs/user/spaces/enable-disable.md
  docs/user/spaces/quota.md
  docs/user/spaces/rename.md
  docs/user/spaces/why-spaces.md
Labels: Docs:User

#396 rework admin welcome docs
  docs/admin/welcome/datasheet.md
  docs/admin/welcome/features.md
  docs/admin/welcome/index.md
Labels: Docs:Admin

#397 rework admin getting started
  docs/admin/getting-started/container/docker-compose-local.md
  docs/admin/getting-started/container/docker-compose/docker-compose-base.md
  docs/admin/getting-started/container/docker-compose/docker-external-proxy.md
  docs/admin/getting-started/container/docker-compose/external-idm.md
  docs/admin/getting-started/container/docker-compose/keycloak.md
  docs/admin/getting-started/container/docker.md
  docs/admin/getting-started/kubernetes.md
  docs/admin/getting-started/other/bare-metal.md
  docs/admin/getting-started/other/raspberry-pi.md
  docs/admin/getting-started/requirements.md
Labels: Docs:Admin

#403 publish release notes 3.2.0
  docs/admin/resources/lifecycle.md
Labels: Docs:Admin

#405 rework shares de
  docs/user/sharing/external.md
  docs/user/sharing/file-drop.md
  docs/user/sharing/internal.md
  i18n/de/docusaurus-plugin-content-docs/current/user/sharing/external.md
  i18n/de/docusaurus-plugin-content-docs/current/user/sharing/file-drop.md
  i18n/de/docusaurus-plugin-content-docs/current/user/sharing/internal.md
Labels: Docs:User

#402 ajdust intro
  docs/user/intro.md
  i18n/de/docusaurus-plugin-content-docs/current/user/intro.md
Labels: Docs:User

#406 rework spaces de
  docs/user/spaces/delete.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/add-user.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/create.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/customize.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/delete.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/enable-disable.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/img/why-spaces/alan-left.png
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/img/why-spaces/spaces.png
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/img/why-spaces/spaghetti-alan-left.png
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/img/why-spaces/spaghetti.png
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/quota.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/rename.md
  i18n/de/docusaurus-plugin-content-docs/current/user/spaces/why-spaces.md
Labels: Docs:User

#408 rework general de
  i18n/de/docusaurus-plugin-content-docs/current/user/general/account-settings.md
  i18n/de/docusaurus-plugin-content-docs/current/user/general/file-list-adjustments.md
  i18n/de/docusaurus-plugin-content-docs/current/user/general/img/account-settings/app-tokens.png
  i18n/de/docusaurus-plugin-content-docs/current/user/general/overview.md
  i18n/de/docusaurus-plugin-content-docs/current/user/general/view-modes.md
Labels: Docs:User

#410 🎉 Release 1.41.0
  CHANGELOG.md
Labels: Docs:User

#413 🎉 Release 1.42.0
  CHANGELOG.md
Labels: Docs:User, Docs:Admin

#417 🎉 Release 1.43.0
  CHANGELOG.md
Labels: Docs:Admin

#418 unneeded "Clone the OpenCloud Repository" section
  docs/admin/getting-started/container/docker-compose/docker-external-proxy.md
Labels: Docs:Admin

#419 add common issues to users, desktop client
  docs/admin/configuration/authentication-and-user-management/keycloak-user.md
  docs/user/common-issues.md
Labels: Docs:User
