Repository opencloud-eu/docs, pull requests merged in 2025-02, with the labels that each got.

#75 Enhance quickstart guide
  docs/admin/quickstart.md
Labels: Docs:Admin

#78 Add contribution guidelines
  CONTRIBUTING.md
Labels: Docs:Guides

#79 Remove dev docs
  docs/dev/hallo_welt
  docs/dev/intro.md
  docs/user/desktop-client/uninstall.md
  docusaurus.config.ts
  i18n/de/code.json
  i18n/de/docusaurus-plugin-content-docs/current.json
  i18n/de/docusaurus-plugin-content-docs/current/dev/intro.md
  i18n/de/docusaurus-theme-classic/footer.json
  i18n/de/docusaurus-theme-classic/navbar.json
  i18n/en/code.json
  i18n/en/docusaurus-plugin-content-docs/current.json
  i18n/en/docusaurus-theme-classic/footer.json
  i18n/en/docusaurus-theme-classic/navbar.json
  sidebars.ts
  src/pages/index.tsx
  src/pages/markdown-page.md
Labels: Docs:Build&Tools

#80 Improve styling for english documentation
  docs/user/desktop-client/installation.md
  docs/user/desktop-client/set-up.md
  docs/user/desktop-client/settings.md
  docs/user/desktop-client/sync-settings.md
  docs/user/desktop-client/uninstall.md
  docs/user/files-and-folders/activity.md
  docs/user/files-and-folders/create-rename-move.md
  docs/user/files-and-folders/delete-restore.md
  docs/user/files-and-folders/link.md
  docs/user/files-and-folders/search.md
  docs/user/files-and-folders/tags.md
  docs/user/files-and-folders/versions.md
  docs/user/general/account-settings.md
  docs/user/general/file-list-adjustments.md
  docs/user/general/overview.md
  docs/user/general/view-modes.md
  docs/user/roles/share-roles.md
  docs/user/roles/space-roles.md
  docs/user/sharing/external.md
  docs/user/sharing/file-drop.md
  docs/user/sharing/internal.md
  docs/user/spaces/add-user.md
  docs/user/spaces/create.md
  docs/user/spaces/customize.md
  docs/user/spaces/delete.md
  docs/user/spaces/quota.md
Labels: Docs:User

#87 Remove wrong german tag translations and add new images
  i18n/de/docusaurus-plugin-content-docs/current/user/files-and-folders/img/tags/schlagwort-zeile.png
  i18n/de/docusaurus-plugin-content-docs/current/user/files-and-folders/img/tags/tag-loeschen.png
  i18n/de/docusaurus-plugin-content-docs/current/user/files-and-folders/img/tags/tags-zeile.png
  i18n/de/docusaurus-plugin-content-docs/current/user/files-and-folders/tags.md
Labels: Docs:User

#86 Add german documentation for OpenCloud Desktop
  docs/user/desktop-client/multiple-accounts.md
  docs/user/desktop-client/set-up.md
  docs/user/desktop-client/settings.md
  docs/user/desktop-client/sync-settings.md
  docs/user/desktop-client/uninstall.md
  i18n/de/docusaurus-plugin-content-docs/current.json
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/img/set-up/set-up-accept-access.png
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/img/set-up/set-up-user-password.png
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/installation.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/logging.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/multiple-accounts.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/set-up.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/settings.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/share-finder.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/sync-settings.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/syncronisation-settings.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/uninstall.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/vfs.md
Labels: Docs:User

#91 Add dev docs placeholder contents
  docs/dev/intro.md
  docusaurus.config.ts
Labels: Docs:Build&Tools

#73 Enable light mode with accessible link color
  docusaurus.config.ts
  src/css/custom.css
Labels: Type:Bug, Docs:Build&Tools

#93 Update README.md
  README.md
Labels: Docs:Build&Tools

#94 Add tutorial for bare metal installation
  docs/admin/installation/bare-metal.md
  docs/admin/installation/img/bare-metal/login.png
Labels: Docs:Admin

#108 Enhance installation guides
  docs/admin/installation/bare-metal.md
  docs/admin/installation/common-issues.md
  docs/admin/installation/docker-compose.md
  docs/admin/installation/docker.md
Labels: Docs:Admin

#109 Enhance bare metal guide
  docs/admin/installation/bare-metal.md
Labels: Docs:Admin

#111 feat: add production server
  .woodpecker/build.yaml
Labels: Docs:Build&Tools

#118 Adjust social card
  docusaurus.config.ts
  static/img/oc-docs.png
Labels: Docs:Build&Tools

#115 Fix docker images names
  docs/admin/img/common-issues/quick-docker-running.png
  docs/admin/installation/docker.md
Labels: Docs:Admin

#117 Preset for Navigation Structure
  docs/admin/10-welcome/10-faq.md
  docs/admin/10-welcome/20-features.md
  docs/admin/10-welcome/30-datasheet.md
  docs/admin/10-welcome/_category_.json
  docs/admin/10-welcome/index.md
  docs/admin/20-getting-started/10_requirements.md
  docs/admin/20-getting-started/20_docker_compose.md
  docs/admin/20-getting-started/30_docker.md
  docs/admin/20-getting-started/40_manual.md
  docs/admin/20-getting-started/50_raspberry_pi.md
  docs/admin/20-getting-started/60_hetzner.md
  docs/admin/20-getting-started/70_uberspace.md
  docs/admin/20-getting-started/80_kubernetes.md
  docs/admin/20-getting-started/_category_.json
  docs/admin/20-getting-started/img/bare-metal/login.png
  docs/admin/20-getting-started/img/quick-guide/docker-opencloud-init.png
  docs/admin/20-getting-started/img/quick-guide/quick-docker-compose-up.png
  docs/admin/20-getting-started/img/quick-guide/quick-login.png
  docs/admin/30-configuration/10-office.md
  docs/admin/30-configuration/100-storage-decomposeds3.md
  docs/admin/30-configuration/20-file-picker.md
  docs/admin/30-configuration/30-keycloak.md
  docs/admin/30-configuration/40-search.md
  docs/admin/30-configuration/50-antivirus.md
  docs/admin/30-configuration/60-firewall.md
  docs/admin/30-configuration/70-monitoring.md
  docs/admin/30-configuration/80-storage-posix.md
  docs/admin/30-configuration/90-storage-cephfs.md
  docs/admin/30-configuration/_category_.json
  docs/admin/30-configuration/img/decomposeds3-with-minio.png
  docs/admin/30-configuration/img/login-page.png
  docs/admin/40-maintenance/10-update.md
  docs/admin/40-maintenance/20-backup.md
  docs/admin/40-maintenance/30-migrate.md
  docs/admin/40-maintenance/_category_.json
  docs/admin/50-resources/10-whats-new.md
  docs/admin/50-resources/20-lifecycle.md
  docs/admin/50-resources/30-common-issues.md
  docs/admin/50-resources/_category_.json
  docs/admin/50-resources/img/common-issues/quick-accept-security-risk.png
  docs/admin/50-resources/img/common-issues/quick-advanced.png
  docs/admin/50-resources/img/common-issues/quick-docker-running.png
  docs/admin/installation/_category_.json
  docs/admin/storage/_category_.json
  src/css/custom.css
Labels: Docs:Admin, Docs:Breaking-Change

#123 Drastically reduce social card image size
  docusaurus.config.ts
  static/img/oc-docs-social-card.jpg
  static/img/oc-docs.png
Labels: Type:Bug
