Repository opencloud-eu/docs, pull requests merged in 2025-04, with the labels that each got.

#202 fix typos in backup
  docs/admin/20-getting-started/20-docker/20-docker-compose.md
  docs/admin/40-maintenance/20-backup.md
Labels: Docs:Admin

#205 Fix broken favicon on firefox
  docusaurus.config.ts
  static/img/oc-favicon.ico
  static/img/oc-favicon.svg
Labels: Docs:Build&Tools

#208 Add TUS
  docs/admin/10-welcome/30-datasheet.md
Labels: Docs:Admin

#211 fix url in the bare-metal
  docs/admin/20-getting-started/30-other/40-bare-metal.md
Labels: Type:Bug

#217 Add dev docs
  .gitignore
  docs/dev/20-web/10-getting-started.md
  docs/dev/20-web/20-development/10-conventions.md
  docs/dev/20-web/20-development/20-repo-structure.md
  docs/dev/20-web/20-development/30-tooling.md
  docs/dev/20-web/20-development/_category_.json
  docs/dev/20-web/20-development/index.md
  docs/dev/20-web/30-testing/10-running-tests.md
  docs/dev/20-web/30-testing/20-e2e-testing-standards.md
  docs/dev/20-web/30-testing/_category_.json
  docs/dev/20-web/30-testing/index.md
  docs/dev/20-web/40-embed-mode/_category_.json
  docs/dev/20-web/40-embed-mode/index.md
  docs/dev/20-web/50-extension-system/10-viewer-editor-apps.md
  docs/dev/20-web/50-extension-system/20-extension-types/10-action-extensions.md
  docs/dev/20-web/50-extension-system/20-extension-types/20-app-menu-item-extensions.md
  docs/dev/20-web/50-extension-system/20-extension-types/30-custom-component-extensions.md
  docs/dev/20-web/50-extension-system/20-extension-types/40-folder-view-extensions.md
  docs/dev/20-web/50-extension-system/20-extension-types/50-left-sidebar-menu-item-extensions.md
  docs/dev/20-web/50-extension-system/20-extension-types/60-right-sidebar-panel-extensions.md
  docs/dev/20-web/50-extension-system/20-extension-types/70-search-extensions.md
  docs/dev/20-web/50-extension-system/20-extension-types/_category_.json
  docs/dev/20-web/50-extension-system/20-extension-types/index.md
  docs/dev/20-web/50-extension-system/_category_.json
  docs/dev/20-web/50-extension-system/index.md
  docs/dev/20-web/_category_.json
  docs/dev/20-web/index.md
  docs/dev/intro.md
Labels: Type:Maintenance, Docs:Developer

#212 add docker permission issues to the common issues section
  docs/admin/50-resources/30-common-issues.md
Labels: Docs:Admin

#213 add mount persistent volumes to docker compose install guide
  docs/admin/20-getting-started/20-docker/20-docker-compose.md
Labels: Docs:Admin

#228 Enable generated index for web dev docs
  docs/dev/20-web/20-development/10-conventions.md
  docs/dev/20-web/20-development/20-repo-structure.md
  docs/dev/20-web/20-development/_category_.json
  docs/dev/20-web/20-development/index.md
  docs/dev/20-web/30-testing/_category_.json
  docs/dev/20-web/30-testing/index.md
Labels: Docs:Developer

#229 Add sub category for storage
  docs/admin/20-getting-started/20-docker/_category_.json
  docs/admin/20-getting-started/30-other/_category_.json
  docs/admin/30-configuration/80-storage/10-posixfs.md
  docs/admin/30-configuration/80-storage/20-cephfs.md
  docs/admin/30-configuration/80-storage/30-decomposeds3.md
  docs/admin/30-configuration/80-storage/_category_.json
  docs/admin/30-configuration/90-storage-cephfs.md
Labels: Docs:Admin

#231 add web application tutorial
  docs/admin/30-configuration/110-web-applications.md
  docs/admin/30-configuration/img/app-store.png
Labels: Docs:Admin

#235 Add mermaid support
  docusaurus.config.ts
  package.json
  pnpm-lock.yaml
Labels: Type:Maintenance, Docs:Build&Tools

#239 Add design system reference to web dev docs
  docs/dev/20-web/60-design-system/index.md
Labels: Docs:Developer

#243 Add design-system docs to build
  .batchfile
  .gitignore
  .woodpecker/build.yaml
  package.json
Labels: Type:DevOps

#232 Add explanation why spaces are better than classic sharing
  docs/user/spaces/img/why-spaces/alan-left.png
  docs/user/spaces/img/why-spaces/spaces.png
  docs/user/spaces/img/why-spaces/spaghetti-alan-left.png
  docs/user/spaces/img/why-spaces/spaghetti.png
  docs/user/spaces/why-spaces.md
Labels: Docs:User

#248 Overhaul web dev docs
  docs/dev/web/development/conventions.md
  docs/dev/web/development/repo-structure.md
  docs/dev/web/development/tooling.md
  docs/dev/web/embed-mode.md
  docs/dev/web/extension-system/extension-types/action-extensions.md
  docs/dev/web/extension-system/extension-types/app-menu-item-extensions.md
  docs/dev/web/extension-system/extension-types/custom-component-extensions.md
  docs/dev/web/extension-system/extension-types/folder-view-extensions.md
  docs/dev/web/extension-system/extension-types/left-sidebar-menu-item-extensions.md
  docs/dev/web/extension-system/extension-types/right-sidebar-panel-extensions.md
  docs/dev/web/extension-system/extension-types/search-extensions.md
  docs/dev/web/extension-system/index.md
  docs/dev/web/extension-system/viewer-editor-apps.md
  docs/dev/web/getting-started.md
  docs/dev/web/testing/e2e-testing-standards.md
  docs/dev/web/testing/running-tests.md
Labels: Docs:Developer

#253 removed "coming soon"
  docs/admin/welcome/index.md
Labels: Docs:Admin

#224 Fix build instruction
  docs/admin/getting-started/other/bare-metal.md
Labels: Type:Bug

#254 Add more doc about the collaborative mode
  docs/admin/configuration/storage/posixfs.md
Labels: Type:Documentation, Docs:Admin

#260 add note, that the raspberry pi installation is for private use
  docs/admin/getting-started/other/raspberry-pi.md
Labels: Docs:Admin

#259 Rename docker to container in admin -> getting started
  docs/admin/getting-started/docker/_category_.json
  docs/admin/getting-started/docker/docker.md
Labels: Docs:Admin

#261 Add own category for docker installation in admin getting started guide
  docs/admin/getting-started/container/_category_.json
  docs/admin/getting-started/container/docker-compose-local.md
  docs/admin/getting-started/container/docker-compose.md
  docs/admin/getting-started/container/docker.md
  docs/admin/maintenance/upgrade.md
Labels: Type:Bug, Docs:Admin

#264 Create FAQ site
  docs/admin/resources/faq.md
  docs/admin/welcome/datasheet.md
  docs/admin/welcome/faq.md
  docs/admin/welcome/features.md
Labels: Docs:Admin

#263 Add iOS German categories
  docs/user/admin/_category_.json
  docs/user/ios-app/_category_.json
  docs/user/ios-app/installation.md
  docs/user/ios-app/set-up.md
  docs/user/ios-app/settings.md
  docs/user/roles/_category_.json
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/img/settings/Einstellungen.png
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/installation.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/overview.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/set-up.md
  i18n/de/docusaurus-plugin-content-docs/current/user/ios-app/settings.md
Labels: Docs:User

#266 add draft to the ios tutorials
  docs/user/ios-app/installation.md
  docs/user/ios-app/overview.md
  docs/user/ios-app/set-up.md
  docs/user/ios-app/settings.md
Labels: Docs:User
