Repository opencloud-eu/docs, pull requests merged in 2025-09, with the labels that each got.

#430 Spaces best practice
  docs/user/spaces/spaces-best-practices.md
Labels: Docs:User, Docs:Guides

#455 remove draft:true
  docs/admin/configuration/remove-password-link.md
Labels: Docs:Admin

#452 🎉 Release 1.49.0
  CHANGELOG.md
Labels: Docs:Admin, Docs:Guides

#454 change: remove all opencloud_full references
  docs/admin/configuration/authentication-and-user-management/keycloak.md
  docs/admin/configuration/radicale-integration.md
  docs/admin/configuration/storage/decomposeds3.md
  docs/admin/getting-started/container/docker-compose/keycloak.md
  docs/admin/maintenance/migrate.md
  docs/admin/resources/common-issues.md
  static/env-vars/app-registry_readme.md
  static/env-vars/proxy_readme.md
  static/env-vars/search_readme.md
Labels: Docs:Admin

#458 🎉 Release 1.50.0
  CHANGELOG.md
Labels: Docs:Build&Tools

#465 removed soon from ios android
  docs/admin/welcome/features.md
Labels: Docs:Admin

#467 🎉 Release 1.52.0
  CHANGELOG.md
Labels: Docs:Breaking-Change
