Repository opencloud-eu/docs, pull requests merged in 2025-08, with the labels that each got.

#422 add german translation for common issues in user section
  i18n/de/docusaurus-plugin-content-docs/current/user/common-issues.md
Labels: Docs:User

#424 introducing links to the user intro & fixing 2 icons
  docs/admin/welcome/index.md
  docs/user/intro.md
  package-lock.json
Labels: Docs:User

#423 add default quota docs
  docs/admin/configuration/set-default-quota.md
Labels: Docs:Admin

#420 🎉 Release 1.44.0
  CHANGELOG.md
Labels: Type:Documentation, Docs:User, Docs:Admin

#427 introducing links to the german user intro & 2 other fixes
  docs/user/intro.md
  i18n/de/docusaurus-plugin-content-docs/current/admin/Getting startet.md
  i18n/de/docusaurus-plugin-content-docs/current/admin/intro.md
  i18n/de/docusaurus-plugin-content-docs/current/user/android-app/spaces.md
  i18n/de/docusaurus-plugin-content-docs/current/user/intro.md
Labels: Docs:User

#429 add file name rules for desktop
  docs/user/desktop-client/file-names.md
Labels: Docs:User

#432 publish release note 3.3.0
  docs/admin/resources/lifecycle.md
Labels: Docs:Admin

#428 🎉 Release 1.45.0
  CHANGELOG.md
Labels: Docs:User, Docs:Admin

#435 create german file naming rules and remove draft:true
  docs/user/desktop-client/file-names.md
  i18n/de/docusaurus-plugin-content-docs/current/user/desktop-client/file-names.md
Labels: Docs:User

#436 🎉 Release 1.46.0
  CHANGELOG.md
Labels: Docs:User

#439 🎉 Release 1.47.0
  CHANGELOG.md
Labels: Docs:User

#446 add avatar tutorial
  docs/user/general/account-settings.md
  docs/user/general/img/account-settings/access.png
  docs/user/general/img/account-settings/account-information.png
  docs/user/general/img/account-settings/app-tokens.png
  docs/user/general/img/account-settings/avatar-menu.png
  docs/user/general/img/account-settings/avatar-settings.png
  docs/user/general/img/account-settings/avatar-upload.png
  docs/user/general/img/account-settings/avatar.png
  docs/user/general/img/account-settings/extensions.png
  docs/user/general/img/account-settings/gdpr.png
  docs/user/general/img/account-settings/preferences.png
  docs/user/general/img/account-settings/visible-avatar.png
Labels: Docs:User

#447 Add link to the compose-repo in docker-compose-local.md
  docs/admin/getting-started/container/docker-compose-local.md
Labels: Docs:Admin, Docs:Guides

#442 🎉 Release 1.48.0
  CHANGELOG.md
Labels: Docs:User
